# Virtual environments
.venv/
env/
venv/

# Git files
.git/
.gitignore

# Logs & temporary files
*.log
*.tmp

# Docker-related
Dockerfile
.dockerignore

# Local configs and credentials
.env
*.pem
*.key

# IDE/editor folders
.vscode/
.idea/